{% trans_default_domain 'FOSUserBundle' %}

{{ form_start(form, { 'action': path('fos_user_change_password'), 'attr': { 'class': 'fos_user_change_password' } }) }}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="jumbotron col-md-4 col-xs-12 fundo-shadow">
            {{ form_row(form.current_password, {'Label':'Senha atual'}) }}
            {{ form_row(form.plainPassword, {'Label':'Nova senha'}) }}
            <input type="submit" class="btn btn-primary" value="Enviar" />
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{{ form_end(form) }}
